<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="containerHeder">
        <h1>Photo Gallery</h1>
        <a href="/"><i class="fa-solid fa-house"></i></a>
      </div>
      <div class="workContainer">
        <div class="cont">
          <img src="../img/b1" alt="">
        </div>
        <div class="cont">
          <img src="../img/b2" alt="">
        </div>
        <div class="cont">
          <img src="../img/b3" alt="">
        </div>
        <div class="cont">
          <img src="../img/b4" alt="">
        </div>
        <div class="cont">
          <img src="../img/b5" alt="">
        </div>
        <div class="cont">
          <img src="../img/b6" alt="">
        </div>          
      </div>
    </div>
    
  </body>
</html>